{% extends "ExperimentsBlogBundle::admin-layout.html.twig" %} 

{% block pageTitle %}View Posts{% endblock %} 

{% block content %}
<div class="row">
    <nav class="sidebar col-lg-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="{{ path('_admin_list_posts') }}">Posts</a>
            </li>
            <li>
                <a href="{{ path('_admin_categories') }}">Categories</a>
            </li>
        </ul>
    </nav>

    <div class="col-lg-9">
        <div class="btn-group">
            <a href="{{ path('_admin_edit_post') }}" type="button" class="btn btn-default">Add New Pots</a>
            <a href="admin-list-news.html" type="button" class="btn btn-default">Delete</a>
        </div>


        <table class="news-list table table-hover table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="post_select" value="all" />
                    </th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="post_select" value="1" />
                    </td>
                    <td>1</td>
                    <td>
                        <a href="{{ path('_admin_edit_post', {'slug': 'post-slug'}) }}" title="Lorem Ipsulum">Lorem Ipsulum</a>
                    </td>
                    <td>02/03/2013</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="post_select" value="2" />
                    </td>
                    <td>2</td>
                    <td>
                        <a href="{{ path('_admin_edit_post', {'slug': 'post-slug'}) }}" title="Lorem Ipsulum">Lorem Ipsulum</a>
                    </td>
                    <td>02/03/2013</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="post_select" value="3" />
                    </td>
                    <td>3</td>
                    <td>
                        <a href="{{ path('_admin_edit_post', {'slug': 'post-slug'}) }}" title="Lorem Ipsulum">Lorem Ipsulum</a>
                    </td>
                    <td>02/03/2013</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="post_select" value="4" />
                    </td>
                    <td>4</td>
                    <td>
                        <a href="{{ path('_admin_edit_post', {'slug': 'post-slug'}) }}" title="Lorem Ipsulum">Lorem Ipsulum</a>
                    </td>
                    <td>02/03/2013</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}